.parent {
    display: flex;
    flex-direction: row;
    align-items: end;
    height: 300px;
    position: relative;
}
.parent__item {
    box-shadow: 0 0 10px rgba(0,0,0,0.5) ;
    width: 300px;
    height: 200px;
    position: absolute;
    background: firebrick;
}
.parent__item:nth-child(1) {
}
.parent__item:nth-child(2) {
    left: 100px;
}
.parent__item:nth-child(3) {
    left: 200px;
}
.parent__item:nth-child(4) {
    left: 300px;
}
.parent__item:nth-child(5) {
    left: 400px
}

.parent :hover{
    top: 15px;
    height: 300px;
}