* {
    margin: 0;
    padding: 0;
    /*border: 0;*/
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.about-us {
    display: flex;
    justify-content: space-between;
    margin-top: 220px;
}

.about p.subtitle {
    width: fit-content;
    margin-bottom: 38px;
    padding: 2px 8px;
    font-family: 'Teko', Arial, sans-serif;
    font-style: normal;
    /*font-weight: 300;*/
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333333;
    /*margin: 2px 10px 38px;*/
    background-color: rgba(245, 166, 35, .2);
    mix-blend-mode: normal;
    border-radius: 3px;
}

.about header {
    margin-bottom: 25px;
    width: 100%;
    position: relative;
    height: auto;
    font-family: 'Teko', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
    color: #333333;
}


.cran {
    padding: 48px 56px;
    height: 624px;
    width: 570px;
    background: linear-gradient(135deg, #FFEBC9 0%, #F5A623 100%);
    border-radius: 3px;
}

.about p {
    width: 470px;
    height: auto;
    font-family: DM Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);
}

.founder {
    display: inline-block;
    margin-right: 20px;
}

.founder {
    margin-top: 32px;
    display: flex;
}

.founder img {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.founder__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.founder__description .firstName {
    margin: 0;
    font-family: 'Teko', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

.founder.position {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);
}

.contact__us {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.wrap_contact {
    display: flex;
    flex-direction: column;
    margin-top: 124px;
    margin-bottom: 128px;
    margin-left: 135px;
    padding-right: 10px;
    font-family: 'Teko', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 2px;
    color: #333333;
}

.wrap_contact form {
    display: flex;
    flex-direction: column;
}

.wrap_contact form input, .wrap_contact form textarea {
    border: 1px solid #DADADA;
    border-radius: 3px;
    padding: 8px 16px;
    margin-top: 28px;
    width: 370px;
}

.wrap_contact form textarea {
    resize: none;
}

.wrap_contact form button {
    width: 170px;
    height: 48px;
    background: #F5A623;
    border-radius: 3px;
    border: none;
    font-family: 'Teko', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.wrap_contact p {
    width: 370px;
    height: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);
}

.contact__us header {
    font-family: 'Teko', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
    color: #333333;
}

.contact__us label {
    /*font-family: DM Sans;*/
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);
}

.map {
    margin: 128px 135px 128px 50px;
    width: 570px;
    height: 624px;
    background: linear-gradient(135deg, #FFEBC9 0%, #F5A623 100%);
    border-radius: 3px;
}

.map iframe {
    width: 570px;
    height: 528px;

    display: block;
    position: relative;
    right: 50px;
    top: 50px;
}

.up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-direction: column;
}

.down {
    /*font-family: DM Sans;*/
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.502972);
}

p.left {
    float: left;
    margin-left: 135px;
    margin-top: 42px;
    width: 381px;
    height: 32px;
}

p.right {
    float: right;
    margin-right: 135px;
    margin-top: 42px;
    width: 289px;
    height: 32px;
}

.right.left {
    float: left;
}

.right.right {
    float: right;
}

.contact h3 {
    width: 78px;
    height: auto;
    margin-top: 67px;
    margin-left: 135px;
    margin-bottom: 34px;
    font-family: 'Teko', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

label#phone {
    display: flex;
    align-items: center;
    margin-left: 135px;
    margin-bottom: 16px;
    font-family: 'Teko', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

label#letter {
    display: flex;
    align-items: center;
    margin-left: 135px;
    /*font-family: DM Sans;*/
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}

header.social {
    margin-top: 78px;
    margin-right: 388px;
    margin-bottom: 34px;
    /*font-family: DM Sans;*/
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}

label#phone img {
    margin-right: 16px;
}

label#letter img {
    margin-right: 16px;
}

.social p {
    width: 370px;
    height: auto;
    /*font-family: DM Sans;*/
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.502972);
    margin-right: 135px;
}

.social img {
    margin-bottom: 64px;
}

hr {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.1;
}

footer {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    background: #333333;
}

/* lesson 4-3 */
.about {
    width: 500px;
}

figure {

}