.parent{
    height: 2800px;
    position: relative;
}

.decoration1{
    height: 2500px;
    position: absolute;
    bottom: 0;
}
.decoration2{
    height: 2000px;
    position: absolute;
    bottom: 0;
}
.decoration3{
    height: 1500px;
    position: absolute;
    bottom: 0;
}
.parent .square{
    position: sticky;
}

.decoration1 .square{
    height: 200px ;
    width: 300px ;
    top:10px;
    left:300px ;
    background: firebrick;
}
.decoration2 .square{
    height: 100px;
    width: 400px ;
    top:70px ;
    left: 400px;
    background: darkseagreen;
}
.decoration3 .square{
    height: 200px;
    width: 200px;
    top: 50px ;
    left: 700px;
    background: khaki;
}